<p>led-list works!</p>

<table>
  <tbody>
    <tr>
      @for (thing of leds$ | async; track thing.index) {
        <td>
          <a [routerLink]="[thing.index]">Details for {{ thing.index + 1 }}</a>
          <pi-led
            [led]="thing"
            (ledColorChange)="handleColorChange($event)"
          ></pi-led>
        </td>
      }
    </tr>
  </tbody>
</table>

@if (false) {
  <table>
    <tbody>
      <tr>
        <td *ngFor="let thing of leds">
          <pi-led [led]="thing"></pi-led>
        </td>
      </tr>
    </tbody>
  </table>
}
